@import "constants";

/***** HEADER ******/

.sidebarBox, .sidebarBox .heading {
	border: none;
}

.sidebarBox .heading {
	text-align: center;
	background-color: initial;
}

#logoContainer {
	background-image: url('https://s3.amazonaws.com/imagesroot.rescuegroups.org/webpages/s627n6yhtskaxg1.png');
    width: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	cursor: pointer;
}

#header tbody tr {
	height: 200px;
}

#header tbody {
	border: none;
	background: inherit;
}

#headerOrgInfo {
	color: #0066CC;
	text-align: center;
}

#headerMenu {
	display: none;
}


/*****	  BODY 	*******/
body {
	background-color: @lightGrey;
}


/*****    FOOTER FIX    *****/
#bodyContainer {
	border: none;
}

#footerContent, #footerContent a {
	background-color: @lightGrey;
}

#footerMenu {
	min-height: initial;
	display: flex;
	justify-content: center;

	.menuBottom {
		margin: 0 15px;
	}
}

#footer {
	background: #333;
}

#subFooter, #footerOrgEmail > a {
	color: @bodyFontColor;
}

#footerOrgEmail > a {
	&:active, &:visited, &:link {
		color: @bodyFontColor
	}
}

/***** SECTION HEADER *****/
.contentSectionHeader {
	padding-bottom: 10px;
	font-size: 32px;
	font-family: "Helvetica", serif;
	letter-spacing: 3px;
	color: #7caf48;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	border-bottom: 2px solid #efffe0;
	cursor: pointer;
}

/***** MISSION STATEMENT ******/
.missionStatement {
	font-size: 16px;
}

.registrationInfo {
	font-style: italic;
}

/***** HIGHLIGHTED ANIMALS *****/
.highlighted {
	font-size: initial !important;
	display: flex;
    flex-direction: row;
    align-items: center;

	.animalimg {
		min-width: 400px;
	}
}

.highlightedPicture {
	width: auto;
}

.animalimg {
    height: auto !important;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #bfbdbd;
    -webkit-box-shadow: 2px 2px 5px #bfbdbd;
    box-shadow: 2px 2px 5px #bfbdbd;
}

.highlightedInfo {
	width: auto;
}

.animalimg:hover {
    -moz-box-shadow: 5px 5px 0 #bfbdbd;
    -webkit-box-shadow: 5px 5px 0 #bfbdbd;
    box-shadow: 5px 5px 0 #bfbdbd;
    border-radius: 5px
}

/******* SUPPORT US ********/
.support-us {
	display: flex;
	flex-direction: column;

	img {
		width: 95%;
		-webkit-box-shadow: 6px 6px 26px -5px rgba(194,194,194,1);
		-moz-box-shadow: 6px 6px 26px -5px rgba(194,194,194,1);
		box-shadow: 6px 6px 26px -5px rgba(194,194,194,1);
	}
}
