@import 'constants';

/*****    FOOTER FIX    *****/
.site-footer {
  background-color: @lightGrey;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

#subFooter, #footerOrgEmail > a {
  color: @bodyFontColor;
}

#footerOrgEmail > a {
  &:active, &:visited, &:link {
    color: @bodyFontColor
  }
}
