// OLD Menu - just hiding as a fall back
#sideBarMenu {
  //display: none;
}

.newMenu {
  display: flex;

  // Hide "Navigation" header
  .heading {
    display: none;
  }

  .menuL2 {
    display: none;
  }

  .menuL1 {
    ul {
      display: none;
      position: absolute;
      z-index: 10;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    &:hover ul {
      display: block;
    }
  }
}
