@import "constants";

/***** SITE HEADER ******/
.sidebarBox, .sidebarBox .heading {
  border: none;
}

.sidebarBox .heading {
  text-align: center;
  background-color: initial;
}

.header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0 15px;
  justify-content: center;

  div {
    display: flex;
  }

  .siteLogo {
    width: 25%;
    margin-right: 10px;
  }

  .siteHeader {
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1, h2 {
      display: flex;
      justify-content: center;
      margin: 0;
    }

    h1 {
      font-size: 53px;
      display: flex;
      margin-bottom: 10px;
    }

    h2 {
      letter-spacing: 3px;
      font-size: 28px;
      margin-top: 10px;
    }

    .divider {
      border-bottom: solid 3px;
      width: 100%;
    }

    span.primaryLogoColor {
      color: @logo-blue;
    }

    span.secondaryLogoColor {
      color: @logo-green;
    }
  }

  img {
    width: 100%;
    align-self: center;
  }
}

.logo {
  background-image: url('https://s3.amazonaws.com/imagesroot.rescuegroups.org/webpages/s627nkhwmolutwz.png');
  width: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

// Just leave the old header here for now for reference instead of removing it
#header {
  display: none;
}

#headerOrgInfo {
  color: #0066CC;
  text-align: center;
}

#headerMenu {
  display: none;
}

.website-user-menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;

  a {
    padding-right: 15px;
  }
}
