@import "constants";
@import (css) url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

/*****	  BODY 	*******/
body {
	background-color: @lightGrey;
}

#bodyContainer {
	border: none;
}

body, td {
	font-family: 'Merriweather Sans', sans-serif;
}

@import "site-header";
@import "layout";
@import "mission-statement";
@import "section-header";
@import "navigation";
@import "highlighted-animals";
@import "sponsors";
@import "support-us";
@import "footer";
@import "articles";
