@import (css) url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import "constants";


/*****	 GLOBAL OVERRIDES 	*******/  
.siteWidth{
	box-sizing: border-box;
	width:100%;
	max-width:@max-width;
}

/*****	  BODY 	*******/
body {
	background-color:lighten(@logo-green, 40%);
}
body *{
	box-sizing: border-box;
}

#bodyContainer {
	margin-top:0;
	border: none;
}

body, td {
	font-family: @copy-font;
}

a, a:link, a:visited, .contentSectionHeader a, .contentSectionHeader a:visited{
	color:darken(@logo-blue,2%);
}

@import "site-header";
@import "layout";
@import "mission-statement";
@import "section-header";
@import "navigation";
@import "highlighted-animals";
@import "sponsors";
@import "support-us";
@import "footer";
@import "articles";
